.app{
    height: 100vh;
    display : flex;
    background-color: #020230;
    color: white;
}

.main{
    width: 75%;
    background:linear-gradient(to bottom, rgba(0,0,0,0),#202030),  url("./assets/images/bg.jpg") center;
    display: flex;
    flex-direction: column;
}
.top{
    height: 50%;
    position: relative;
}
.timer{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:  5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;   
    bottom: 80px;
    left: 40px;
}
.bottom{
    height: 50%;
}
.trivia{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.question{
    width: 80%;
    background:linear-gradient(#0c0c57 ,  #000 );
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.answer{
    width: 40%;
    text-align: center;
    padding: 10px;
    background:linear-gradient(#05051f ,  rgb(11, 3, 117) );
    border: 1px solid white;
    font-size: 20px;
    font-weight: 300;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
.answer:hover , .answer.active{
    background: mediumblue;
}
.correct{
    animation: correct 3s ease forwards;
}
@keyframes correct {
    0%,22%,42%{
        background: mediumblue;
    }  
    20%,40%,60%{
        background:linear-gradient(#05051f ,  rgb(11, 3, 117) );
    }  
    62%,100%{
        background: green;
    }
}
.wrong{
    animation: wrong 3s ease forwards;
}
@keyframes wrong {
    0%,22%,42%{
        background: mediumblue;
    }  
    20%,40%,60%{
        background:linear-gradient(#05051f ,  rgb(11, 3, 117) );
    }  
    62%,100%{
        background: rgb(190, 3, 3);
    }
}
.pyramid{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moneyList{
    list-style: none;
    width: 100%;
    padding: 20px;
}
.moneyListItem.active{
    background-color: teal;
    padding: 5px;
    border-radius: 5px;
}
.moneyListItem{
    margin: 15px 0px;
    display: flex;
    align-items: center;
}
.moneyListItemNumber{
    width: 30%;
    font-size: 18px;
    font-weight: 100;
}
.moneyListItemAmount{
    font-size: 20px;
    font-weight: 300;
}
.earned{
    text-align: center;
    margin: auto;
}
